* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
li {
  list-style: none;
}
a {
  font-weight: 300;
  text-decoration: none;
  color: #fff !important;
}

a:hover {
  text-decoration: none !important;
  color: #8dc700 !important;
  cursor: pointer;
}
.w500 {
  font-weight: 500 !important;
}
.hvblack:hover {
  color: #000 !important;
  font-size: 18px;
}
.col-4 {
  max-width: 31% !important;
}
.main {
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
}
.bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
  z-index: 99999;
}
.bg--active {
  display: block;
}
.tour__items img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
#carouselExampleControls img {
  width: 100%;

  object-fit: cover;
}
.login {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  z-index: 9999999;
  animation: 0.9s ease-in-out 0s slideInFromTop;
}
@keyframes slideInFromTop {
  0% {
    transform: translate(-50%, -200%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.signup {
  top: 47%;
}
.login--active {
  display: block;
}
.add_input {
  color: #8dc700;
}
.ip_hide {
  display: none !important;
}
.ip_show {
  display: flex !important;
}
.add_input:hover {
  color: #05a;
}
/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */

.login-header {
  background: #8dc700;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}
.hide {
  display: none;
}
.btntt {
  background: #8dc700;
  border: 0;
  padding: 12px;
  color: #fff;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  left: 0;

  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s ease;
}
.login input[type="submit"] {
  background: #8dc700;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #7ab800;
}
.logout::before {
  content: "";
  border-left: #fff 1px solid;
  margin: 0 10px;
}
/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}
.header {
  background-color: rgba(0, 0, 0, 0.9);
  height: 70px;
  line-height: 70px;
  font-size: 20px;
}
.header__signup {
  content: "";
  border-left: #fff 1px solid;
  padding-left: 5px;
}
.banner,
.banner img {
  width: 100%;
  height: 430px;
  object-fit: cover;
}
.banner {
  position: absolute;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #343a40;
  opacity: 0.4;
}
.tourdetail {
  width: 80%;
  height: 80%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 10px;
  font-size: 16px;
  z-index: 9999999;
  display: none !important;
}
.btnnews {
  background: #8dc700;

  width: 50%;
  margin: 0 0 20px 20px !important;
}
.f14 {
  font-size: 14px;
  font-style: italic;
}
.btnbt {
  background: #8dc700;
  border: 0;
  padding: 12px;
  color: #fff;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  width: 50% !important;
}
table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}
th,
td {
  border-bottom: 1px solid #ddd;
  width: auto !important;
  padding: 15px;
}
.gach {
  text-decoration: line-through !important;
  color: rgba(0, 0, 0, 0.5) !important;
}
.ullist {
  list-style: inherit !important;
}
.tour__items video {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.tourdetail--active {
  display: block !important;
}
.tourdetail iframe {
  width: 100%;
  height: 50%;
}
.tourdetail__slide img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 650px;
  height: 70px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.search__txt,
.search__select,
.search__btn {
  height: 50px;
  border-radius: 5px;
}
.search__txt {
  width: 300px;
}

.search__select {
  width: 200px;
}
.search__btn {
  width: 100px;
  background-color: #8dc700;
  border: none;
  color: #fff;
}
.search__btn:hover {
  background-color: #7ab800;
}

.news__title {
  display: block;
  width: 100%;
  position: relative;
}
.news__title p {
  position: absolute;
  left: 0;
}
.ctgnewss {
}
.news__title a {
  position: absolute;
  right: 0;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card a:hover {
  color: #fff !important;
}
.card:hover {
  box-shadow: 0 1px 2px rgba(64, 201, 94, 0.9);
}
.bg__category {
  min-height: 600px !important;
}
.category__left {
  cursor: pointer;
}
@keyframes category__left {
  0% {
    left: 0%;
  }
  100% {
    left: -25%;
  }
}
.category__right:hover {
  cursor: pointer;
}

@keyframes category__right {
  0% {
    transform: skewY(0deg);
    top: 0;
  }
  100% {
    transform: skewY(-10deg);
    top: 50;
  }
}
.btn-green {
  background-color: #8dc700 !important;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn-green:hover {
  background-color: #7ab800 !important;
}
.footer__connect i {
  font-size: 20px;
}
.footer__connect a {
  margin: 0 10px;
}
/* admin */
.admin__menu {
  width: 250px;
  height: 100%;
  background-color: #343a40;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
.admin__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.admin__menu ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #fff;
}
.admin__menu ul li a {
  color: #fff;
}
.admin__menu ul li a:hover {
  color: #8dc700;
}
.admin__menu__logo {
  width: 100%;
  height: 70px;
  background-color: #8dc700;

  color: #fff;
}
.admin__menu__logo img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 10px;
  object-fit: cover !important;
}
.map iframe {
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.booking {
  width: 100%;
  height: 400px;
  background-color: #343a40;
  display: flex;
  justify-content: center;

  flex-direction: column;
  font-size: 24px;
}
.left {
  width: 100%;

  display: flex;

  align-items: center;
  flex-direction: column;
}
.fm {
  width: 50%;
}
.form input,
.form textarea,
.form select {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  padding: 0 10px;
}
.form textarea {
  height: 170px !important;
}
.btnbook {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  width: 100%;
  display: flex;

  align-items: center;
  flex-direction: column;
}
.black {
  color: #000 !important;
}
.booking label {
  color: #fff;
  font-size: 18px;
}
.text_box {
  display: flex;
  justify-content: space-between;
}
.video {
  display: flex;
  justify-content: center;
}
.booking input {
  width: 200px;
  font-size: 18px;
}
.btn__tour {
  width: 100%;
  height: 40px;
}
.text-or {
  color: #ffc600;
}
.cart {
  width: 60px;
  height: 60px;
  background-color: #8dc700;
  border-radius: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart i {
  font-size: 24px;
  color: #fff;
  transform: rotate(-45deg);
}
.cart_nb {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
}
.cart_nb p {
  margin: 0 !important;
}
