* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
li {
  list-style: none;
}
a {
  font-weight: 300;
  text-decoration: none;
  color: #fff !important;
}
a:hover {
  text-decoration: none !important;
  color: #8dc700 !important;
  cursor: pointer;
}
.w500 {
  font-weight: 500 !important;
}
.hvblack:hover {
  color: #000 !important;
  font-size: 18px;
}
.col-4 {
  max-width: 31% !important;
}
.main {
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
}
.bg__login {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
  z-index: 99999;
}
.bg__login--active {
  display: block;
}
.login {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  z-index: 9999999;
  animation: 0.9s ease-in-out 0s slideInFromTop;
}
@keyframes slideInFromTop {
  0% {
    transform: translate(-50%, -200%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.signup {
  top: 47%;
}
.login--active {
  display: block;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */

.login-header {
  background: #8dc700;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #8dc700;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #7ab800;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}
.header {
  background-color: rgba(0, 0, 0, 0.9);
  height: 70px;
  line-height: 70px;
  font-size: 20px;
}
.header__signup {
  content: "";
  border-left: #fff 1px solid;
  padding-left: 5px;
}
.banner,
.banner img {
  width: 100%;
  height: 430px;
  object-fit: cover;
}
.banner {
  position: absolute;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #343a40;
  opacity: 0.4;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 650px;
  height: 70px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.search__txt,
.search__select,
.search__btn {
  height: 50px;
  border-radius: 5px;
}
.search__txt {
  width: 300px;
}

.search__select {
  width: 200px;
}
.search__btn {
  width: 100px;
  background-color: #8dc700;
  border: none;
  color: #fff;
}
.search__btn:hover {
  background-color: #7ab800;
}

.news__title {
  display: block;
  width: 100%;
  position: relative;
}
.news__title p {
  position: absolute;
  left: 0;
}
.news__title a {
  position: absolute;
  right: 0;
}
.hotTour {
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card a:hover {
  color: #fff !important;
}
.card:hover {
  box-shadow: 0 1px 2px rgba(64, 201, 94, 0.9);
}
.hotPlaces {
}
.bg__category {
  min-height: 600px !important;
}
.category__left:hover {
  animation: category__left ease-in 0.5s forwards;
  cursor: pointer;
}
@keyframes category__left {
  0% {
    transform: skewY(0deg);
  }
  100% {
    transform: skewY(10deg);
  }
}
.category__right:hover {
  animation: category__right ease-in 0.5s forwards;
  cursor: pointer;
}
@keyframes category__right {
  0% {
    transform: skewY(0deg);
    top: 0;
  }
  100% {
    transform: skewY(-10deg);
    top: 50;
  }
}
.btn-green {
  background-color: #8dc700 !important;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn-green:hover {
  background-color: #7ab800 !important;
}
.footer__connect i {
  font-size: 20px;
}
.footer__connect a {
  margin: 0 10px;
}
/* admin */
.admin__menu {
  width: 250px;
  height: 100%;
  background-color: #343a40;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
.admin__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.admin__menu ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #fff;
}
.admin__menu ul li a {
  color: #fff;
}
.admin__menu ul li a:hover {
  color: #8dc700;
}
.admin__menu__logo {
  width: 100%;
  height: 70px;
  background-color: #8dc700;

  color: #fff;
}
.admin__menu__logo img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 10px;
  object-fit: cover !important;
}
